*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
   
}
h1{
    text-transform: capitalize;
    font-weight: 700;
    text-align: center;
}
.search-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.search-container input {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    flex: 1;
}
.search-container button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
.search-container button:hover {
    background-color: #0056b3;
}
.result-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  
}
.country-item {
    width: 30%;
    margin: 1%;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.country-item img {
    width: 100px;
    height: 60px;
    object-fit: contain;
    margin-bottom: 10px;
}
.country-item span {
    font-size: 1.2em;
    text-align: center;
}
@media screen and (max-width:575px) {
    .country-item{
        width: 100%;
        margin-top:20px ;
    }
    h1{
        margin: 30px 0;
        font-size: 18px;
    }
    .search-container{
        width: 90%;
    }
}
